h5 {
    font-size: 15px;
}
h1 {
    color: white;
}
div.title{
    background-color: black;
    padding-left: 30px;
    padding-right:30px;
    padding-top:50px;
    padding-bottom:30px;
}
button.send {
    border-color: lightgrey;
    padding:3px;
    margin: 5px;
    color: black;
}
body {
    padding-right: 200px;
    padding-left: 200px;
    background-color:lightgrey;
}
div.typequeries {
    float: left;
}

div.buttonqueries{
    float: left;
    }
div.queries{
    display: grid;
    grid-template-columns: 70% 30%;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: white;    
}
div.weather{
    background-color: white;
}

